<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %m %n%throwable"/>
        </Console>

        <!-- Fichier principal de l'application : toutes les classes com.lymytz -->
        <RollingFile name="FILE"
                     fileName="${sys:user.home}/lymytz-sell/logs/app.log"
                     filePattern="${sys:user.home}/lymytz-sell/logs/app.%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m %n%throwable"/>
            <DefaultRolloverStrategy max="15" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1M"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger principal de l'application : INFO et plus → app.log + console -->
        <Logger name="com.lymytz.lymytzsell" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Logger>

        <!-- Tout le reste (librairies tierces) : ERROR uniquement -->
        <Root level="error">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>